<div class="bg">
          <h5 class="toptitle"><span>01</span> Pick your destination</h5>

          <div class="grid">
                    <div class="col1">
                              <img class="img" src="../../../assets/destination/image-moon.png" alt="">
                    </div>
                    
                    <div class="col2">

                              <nav class="nav">
                                        <a routerLinkActive="active" routerLink="/destinations/moon" >MOON</a>
                                        <a routerLinkActive="active" routerLink="/destinations/mars">MARS</a>
                                        <a routerLinkActive="active" routerLink="/destinations/europa">EUROPA</a>
                                        <a routerLinkActive="active" routerLink="/destinations/titan">TITAN</a>
                              </nav>

                              <h2 class="title">MOON</h2>
                              <p class="paragraph">
                                        See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
                              </p>
                              <div class="line"></div>
                              <div class="aditionalinfo">
                                       <div>
                                                  <p>AVG. DISTANCE</p>
                                                  <h6>384,400 km</h6>
                                       </div>

                                       <div>
                                                  <p>EST. TREVEL TIME</p>
                                                  <h6>3 days</h6>
                                        </div>
                              </div>
                    </div>
          </div>
</div>

