<div class="bg">

          <h5 class="toptitle"><span>01</span> Pick your destination</h5>
          <div class="grid">
                    <div class="col1">
                              <img class="img" src="../../../assets/destination/image-titan.png" alt="">
                    </div>
                    
                    <div class="col2">

                              <nav class="nav">
                                        <a routerLinkActive="active" routerLink="/destinations/moon" >MOON</a>
                                        <a routerLinkActive="active" routerLink="/destinations/mars">MARS</a>
                                        <a routerLinkActive="active" routerLink="/destinations/europa">EUROPA</a>
                                        <a routerLinkActive="active" routerLink="/destinations/titan">TITAN</a>
                              </nav>

                              <h2 class="title">TITAN</h2>
                              <p class="paragraph">
                                        The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.
                              </p>
                              <div class="line"></div>
                              <div class="aditionalinfo">
                                       <div>
                                                  <p>AVG. DISTANCE</p>
                                                  <h6>1.6 BIL. km</h6>
                                       </div>

                                       <div>
                                                  <p>EST. TREVEL TIME</p>
                                                  <h6>7 years</h6>
                                        </div>
                              </div>
                    </div>
          </div>
</div>


