<div class="bg">

    <h5 class="toptitle"><span>03</span> SPACE LAUNCH 101</h5>
    <div class="grid">    
        <div class="col1">
            <div>
                <nav class="nav">
                    <a routerLinkActive="active" routerLink="/technology/a">1</a>
                    <a routerLinkActive="active" routerLink="/technology/b">2</a>
                    <a routerLinkActive="active" routerLink="/technology/c">3</a>
                </nav>
            </div>
            <div>
                <h6 class="subtitle">THE TERMINOLOGY…</h6>
                <h2 class="title">SPACEPORT</h2>
                <p class="paragraph">
                    A spaceport or cosmodrome is a site for launching (or receiving) spacecraft,
                    by analogy to the seaport for ships or airport for aircraft. Based in
                    the famous Cape Canaveral, our spaceport is ideally situated to take
                    advantage of the Earth’s rotation for launch.
                </p>
            </div>          
        </div>

        <div class="col2">
            <div class="img">
                <img src="../../../../assets/technology/image-spaceport-landscape.jpg" alt="">
                <img src="../../../../assets/technology/image-spaceport-portrait.jpg" alt="">
            </div>
        </div>
    </div>
</div>


