@import '../../../scss/main.scss';

.bg{
        background-image: url(../../../assets/home/background-home-desktop.jpg);
          

        @media ($tablet) {
                background-image: url(../../../assets/home/background-home-tablet.jpg);       
        }

        @media ($phone) {
                background-image: url(../../../assets/home/background-home-mobile.jpg); 
                height: 100vh;      
        }
         

        .subtitle{
                font-family: $font2;
                color: $LightPurple;
                margin-bottom: 1rem;
                font-weight: 300;
                letter-spacing: 0.32rem;
                text-align: left;

                @media ($tablet) {
                        font-size: 1.3rem;
                }

                @media ($phone) {
                        font-size: 1rem;
                        letter-spacing: 0.2rem;
                }
        }

        .title{
                font-family: $font1;
                margin-bottom: 1rem;
                font-weight: 400;

                @media ($phone) {
                        font-size: 6rem;
                        margin-bottom: 0rem;
                }
        }

        .paragraph{
                font-family: $font3;
                color: $LightPurple;
                line-height: 2rem;
                width: 28.125rem;
                
                @media ($tablet) {
                        margin-bottom: 0rem;
                }

                @media ($phone) {
                        width: 22rem;
                        line-height: 1.5rem;
                        font-size: 1rem;
                }

                @media ($miniphone) {
                        display: block;
                }
        }
        .btn{
                background-color: $White;
                width: 17.12rem;
                height: 17.12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: solid 0rem rgba(255, 255, 255, 0.10);
                border-radius: 10rem;
                transition: all 200ms ease-in-out;
                cursor: pointer;


                @media ($tablet) {
                        margin-top: 5rem;
                }

                @media ($phone) {
                        width: 12rem;
                        height: 12rem;
                        // margin-bottom: 3rem;
                        margin-top: 0vh;
                }

                @media ($miniphone) {
                        width: 6rem;
                        height: 6rem;
                        // margin-bottom: 1rem;
                        margin-top: 2rem;
                }

                .explore{
                        color: $Dark;
                        font-family: $font1;
                        font-weight: 400;
                        cursor: pointer;

                        @media ($miniphone) {
                                font-size: 1rem;
                        }
                }

                &:hover{
                        outline: solid 5rem rgba(255, 255, 255, 0.10);
                }
        }

        .grid{
                justify-content: space-between;
        }
}

// ANIMATIONS

        .subtitle{
                animation-name: positionBotton;
                animation-duration: 1s;
                animation-delay: 0ms;
        }
    
        .title{
                animation-name: positionBotton;
                animation-duration: 1s;
                animation-delay: 100ms;
        }
    
        .paragraph{
                animation-name: positionBotton;
                animation-duration: 1s;
                animation-delay: 200ms;
        }

       
        .btn{
                animation-name: positionRight;
                animation-duration: 1s;
                animation-delay: 0ms;
        }