<div class="header">
          <img src="../../../assets/shared/logo.svg" alt="" class="header__logo">
          <div class="header__line"></div>
          <nav class="header__nav">
                    <a routerLinkActive="active" routerLink="home" ><span>00</span>HOME</a>
                    <a routerLinkActive="active" routerLink="destinations"><span>01</span>DESTINATION</a>
                    <a routerLinkActive="active" routerLink="crew"><span>02</span>CREW</a>
                    <a routerLinkActive="active" routerLink="/technology"><span>03</span>TECHNOLOGY</a>
          </nav>
</div>