<div class="bg">

          <h5 class="toptitle"><span>01</span> Pick your destination</h5>
          <div class="grid">
                    <div class="col1">
                              <img class="img" src="../../../assets/destination/image-mars.png" alt="">
                    </div>
                    
                    <div class="col2">

                              <nav class="nav">
                                        <a routerLinkActive="active" routerLink="/destinations/moon" >MOON</a>
                                        <a routerLinkActive="active" routerLink="/destinations/mars">MARS</a>
                                        <a routerLinkActive="active" routerLink="/destinations/europa">EUROPA</a>
                                        <a routerLinkActive="active" routerLink="/destinations/titan">TITAN</a>
                              </nav>

                              <h2 class="title">MARS</h2>
                              <p class="paragraph">
                                        Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!
                              </p>
                              <div class="line"></div>
                              <div class="aditionalinfo">
                                       <div>
                                                  <p>AVG. DISTANCE</p>
                                                  <h6>225 MIL. km</h6>
                                       </div>

                                       <div>
                                                  <p>EST. TREVEL TIME</p>
                                                  <h6>9 months</h6>
                                        </div>
                              </div>
                    </div>
          </div>
</div>


