<div class="bg">

    <h5 class="toptitle"><span>02</span> Meet your crew</h5>
    <div class="grid">    
        <div class="col1">
            <h6 class="subtitle">Flight Engineer</h6>
            <h2 class="title">Anousheh Ansari</h2>
            <p class="paragraph">
                Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems.
                Ansari was the fourth self-funded space tourist, the first self-funded woman
                to fly to the ISS, and the first Iranian in space.  
            </p>

            <nav class="nav">
                <a routerLinkActive="active" routerLink="/crew/a"></a>
                <a routerLinkActive="active" routerLink="/crew/b"></a>
                <a routerLinkActive="active" routerLink="/crew/c"></a>
                <a routerLinkActive="active" routerLink="/crew/d"></a>
            </nav>
                    
        </div>

        <div class="col2">
            <div class="img">
                <img src="../../../../assets/crew/image-anousheh-ansari.png" alt="">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>


