<div class="bg">

    <h5 class="toptitle"><span>02</span> Meet your crew</h5>
    <div class="grid">    
        <div class="col1">
            <h6 class="subtitle">COMMANDER</h6>
            <h2 class="title">Douglas Hurley</h2>
            <p class="paragraph">
                Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former
                NASA astronaut. He launched into space for the third time as commander of Crew
                Dragon Demo-2.
            </p>

            <nav class="nav">
                <a routerLinkActive="active" routerLink="/crew/a"></a>
                <a routerLinkActive="active" routerLink="/crew/b"></a>
                <a routerLinkActive="active" routerLink="/crew/c"></a>
                <a routerLinkActive="active" routerLink="/crew/d"></a>
            </nav>
                    
        </div>

        <div class="col2">
            <div class="img">
                <img src="../../../../assets/crew/image-douglas-hurley.png" alt="">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>


